@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Yeon Sung';
}

nav{
    background-color: black;
}

nav ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    padding: 10px 0px;
    align-items: center;
    margin-left: 25px;
}

.card-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-image{
    height: 120px;
    width: 200px;
}
.card-image img{
    height: inherit;
    width: inherit;
}
nav ul li a{
    padding: 4px 12px;
    text-decoration: none;
    color: white;
    margin: 0px 7px;
}

nav ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

nav ul li{
    /* margin-left: 20px; */
    list-style: none;
    font-size: 20px;
}

#introsection{
    height: 300px;
    color: white;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    flex-direction: column;
    font-size: 1.3rem;
    /* background-image: url("bg.jpg");   */
    background: center / cover no-repeat url("/static/bg.jpg");
    /* width: 100%; */
}

#missionsection{
    height: 300px;
    /* background-color: blueviolet; */
    padding-top: 20px;
}


#missionsection h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

.sponser-images{
    display: flex;
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: space-between;

}
.sponser-images img{
    width: 200px;
}

.cardcontainer{
    width: 75%;
    margin: auto;
    /* border: 2px solid black; */
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 40px;
}

#logo img{
    height: 50px;
    filter: invert(1);
}
.card{
    width: 30%;
    height: 70%;
    border: 2px solid black;
    text-align: center;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#sponsers{
    height: 300px;
    background-color: rgb(189, 116, 116);
    padding-top: 20px;
}

#sponsers h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

footer{
    height: 38px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}